{% block title %}Admin Menu{% endblock %}
{% extends "base.html.twig" %}

{% block body %}
    Menu Admin

    <a type="button" href="{{ path('marker_menu') }}">Menu marqueur</a>
    <a type="button" href="{{ path('events_menu') }}">Menu events</a>

{% endblock body %}