{% block title %}News Create{% endblock %}
{% extends "base.html.twig" %}

{% block body %}
    <p class="Event_title">Supprimer une News</p>


    {{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_end(form) }}

    <a href="{{ path('events_menu') }}">Retour au menu</a>

{% endblock body %}