.Actions{
  height: 80rem;
  background-color: #0064C7;

  &_content{
    padding: 15%;
    display: flex;
  }

  &_card{
    border: solid white 3px;
    width: 350px;
    height: 450px;
    margin: 30px;
    border-radius: 50px 15px;
    background: linear-gradient(0deg, white 50%,#E72D1E 50%);
  }

  &_desc{
    height: 320px;
    border-radius: 50px 15px 0 0;
    background-color: #E72D1E;

  }

  &_button{
    height: 80px;
    background-color: white;
    border-radius:0 0 50px 15px;
  }


}

.custom-shape-divider-top-1707233390 .shape-fill {
  fill: #E72D1E;
}

.custom-shape-divider-top-1707736261 {
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1707736261 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
}

.custom-shape-divider-top-1707736261 .shape-fill {
  fill: #FFD731;
}