.Carte{
  background-color: #FFD731;
  border: solid black 3px;
  position: absolute;


  &_content{
    border: solid black 3px;
    top:20%;
    margin-top:-10px;
    left: 10%;
    height: 45rem;
    width: 80%;
  }

  &_map{

    width: 600px;
    border: solid black 10px;
    background-color: #4BD73A;
    border-radius: 20px 50px;
  }
}

.custom-shape-divider-top-1707234367 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1707234367 svg {
  position: relative;
  display: block;
  width: calc(124% + 1.3px);
  height: 126px;
}

.custom-shape-divider-top-1707234367 .shape-fill {
  fill: #FFB526;
}