.MainContent{
  background-color: $mainContent-bg-color;
  padding: $padding-base;

  &_title{
    color: $color-base;
    text-align: center;
    margin: 20px;
    font-size: 30px;
    font-weight: bold;
  }
}
