.Navbar{
  margin: 0;
  text-align: center;
  background: rgb(90 7 2);
  height: 150px;
  position: relative;
  color: white;

  &_gauche{
    float: left;
    position: absolute;
    padding-top: 40px;
    left: 15%;
    z-index: 3;

    & img{
      width: 135px;
    }
  }

  &_droite{

    float: right;
    margin: 60px 15% 0 0;
    & a{
      font-size: 35px;
      font-weight: bolder;
      margin: 30px;
      text-decoration: none;
      color: white;
    }
  }
}
/*Styling Hamburger Icon*/
.hamburger div{
  width: 30px;
  height:3px;
  background: #f2f5f7;
  margin: 5px;
  transition: all 0.3s ease;
}
.hamburger{
  display: none;
}

.nav-links{
  display: none;
}
@media screen and (max-width: 1200px) {
  /* Hide the right part of the navbar on smaller screens */
  .Navbar_droite {
    display: none;
    &_open{
      display: flex;
    }
  }
  .hamburger{
    display:block;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
    transition: all 0.7s ease;
  }


}
/*Animating Hamburger Icon on Click*/
.toggle .line1{
  transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
  transition: all 0.7s ease;
  width:0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px,-6px);
}

