.News{
  background-color: rgb(255 181 38);
  position: absolute;

  &_content{
    top:17%;
    margin-top:-10px;
    left: 10%;
    height: 50rem;
    width: 80%;
  }

  &_card{
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &_fixed{
    height: 45%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  &_temp{
    margin-top: 2%;
    height: 45%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  &_new{
    display: flex;
    background-color: white;
    height: auto;
    width: 20%;
    margin: 0 4%;
    border-radius: 50px 0;
    justify-content: center;
    flex-direction: column;

    &_image{
      height: 80%;
      display: flex;

      & img{
        margin: 5px;
        justify-content: center;
        width: 95%;
        border-radius: 50px 0;
      }

    }
    &_title {
      overflow: hidden;
      max-width: 170px;
      white-space: normal;
      display: flex;
      align-items: center;
      margin: auto;
      max-height: 20%;
      text-align: center;
    }



  }


}

#container{
  height: 700px;
  width: 100%;
  position: relative;
}
