.News{
  background-color: rgb(255 181 38);
  position: absolute;

  &_image{
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;

    &_img{
      margin: 5px;
      justify-content: center;
      width: 100%;
      border-radius: 50px 0;
    }
  }

  &_content{
    top:25%;
    margin-top:-10px;
    left: 14.5%;
    height: 50rem;
    width: 80%;
  }

  &_card{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding-right: 11%;
  }

  &_fixed{
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }



  &_new{
    border: black solid 2px;
    display: flex;
    background-color: white;
    height: auto;
    width: 100%;
    margin: 3% 1.5%;
    border-radius: 50px 0;
    justify-content: center;
    flex-direction: column;


    &_image{
      height: 80%;
      display: flex;

      & a{
        height: 100%;
        width: 97%;
        overflow: hidden;
        display: flex;
      }

      & img{
        margin: 5px;
        justify-content: center;
        width: 100%;
        border-radius: 50px 0;
      }

    }
    &_title {
      overflow: hidden;
      max-width: 170px;
      white-space: normal;
      display: flex;
      align-items: center;
      margin: auto;
      max-height: 20%;
      text-align: center;
    }



  }


}


#container-new{
  height: 400px;
  width: 100%;
  position: relative;
}










*{
  box-sizing: border-box;
}

.News-temp{
  min-height: 12vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255 181 38);

  padding-bottom: 4%;
}

.slide-content{
  padding: 0 5%;
}

.card{
  border: black solid 2px;
  background-color: white;
  border-radius: 50px 0;
}

.image-content,
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 40px;
}

.image-content{
  width: 100%;
}
.card-image{
  height: 180px;
  width: 100%;
}

.card-image .card-img{
  width: 100%;
  border-radius: 50px 0;
}



.slider-container-new{
  max-width: 1120px;
  width: 100%;
  background-color: rgb(255 181 38);
  padding:0 40px;
}

.name{
  font-size: 18px;
  font-weight: 500;
  color: black;
}




.swiper-button-next, .swiper-button-prev {
  margin: 0;
}


.News-temp-new{
  display: flex;
  background-color: white;
  width: 100%;
  margin: 0;
  border-radius: 50px 0;
  justify-content: center;
  flex-direction: column;
}

.News-temp-new-image{
  height: 100%;
  display: flex;
  & img{
    margin: 5px;
    justify-content: center;
    width: 95%;
    border-radius: 50px 0;
  }
}