@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Oxygen&display=swap");
/* ##################################### */
/*        variable transversale          */
/* ##################################### */
/* *********** couleurs du thème ********** */
/* *********** grid ********** */
/* *********** margin ********** */
/* *********** padding ********** */
/* *********** padding ********** */
/* ######################################## */
/*                  block                   */
/* ######################################## */
/* *********** Brand ********** */
/* *********** Button ********** */
/* *********** Card ********** */
/* *********** Footer *********** */
/* *********** Header *********** */
/* *********** MainMenu *********** */
/* *********** MainContent *********** */
/* *********** Search *********** */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2em;
  font-family: Arial, sans-serif;
}

.Actions {
  height: 80rem;
  background-color: #0064C7;
}
.Actions_content {
  padding: 15%;
  display: flex;
}
.Actions_card {
  position: relative;
  border: solid white 3px;
  width: 350px;
  height: 450px;
  margin: 30px;
  border-radius: 50px 15px;
  background: linear-gradient(0deg, white 50%, #E72D1E 50%);
}
.Actions_desc {
  height: 320px;
  border-radius: 50px 15px 0 0;
  background-color: #E72D1E;
}
.Actions_button {
  height: 80px;
  background-color: white;
  border-radius: 0 0 50px 15px;
}
.Actions_image_poulpe {
  margin-left: 31%;
  top: -60px;
  width: 110px;
  height: auto;
  position: absolute;
}
.Actions_image_abeille {
  margin-left: 31%;
  top: -60px;
  width: 70px;
  height: auto;
  position: absolute;
}

.custom-shape-divider-top-1707233390 .shape-fill {
  fill: #E72D1E;
}

.custom-shape-divider-top-1707736261 {
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1707736261 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
}

.custom-shape-divider-top-1707736261 .shape-fill {
  fill: #FFD731;
}

.Carte {
  background-color: #FFD731;
  position: absolute;
  display: flex;
}
.Carte_content {
  top: 20%;
  margin-top: -10px;
  left: 5%;
  height: auto;
  width: 90%;
  display: flex;
  justify-content: center;
}
.Carte_map {
  width: 100%;
  height: 500px;
  border: solid black 3px;
  box-shadow: black 5px 5px;
  background-color: #4BD73A;
  border-radius: 20px 50px;
}
.Carte_desc {
  margin-left: 3%;
  width: 50%;
  height: 500px;
  border: solid black 4px;
  box-shadow: black 5px 5px;
  background-color: #B787D3;
  border-radius: 20px 50px;
}
.Carte_desc_title {
  font-size: 45px;
  font-weight: bold;
  padding: 20% 0 10% 10%;
}
.Carte_desc_content {
  padding: 0 20% 0 10%;
  line-height: 35px;
  font-size: 25px;
}

.custom-shape-divider-top-1707234367 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1707234367 svg {
  position: relative;
  display: block;
  width: calc(124% + 1.3px);
  height: 126px;
}

.custom-shape-divider-top-1707234367 .shape-fill {
  fill: #FFB526;
}

#container {
  height: 700px;
  width: 100%;
  position: relative;
}

.Events {
  min-height: 70vh;
  position: relative;
  padding-top: 120px;
  background-color: rgb(255, 181, 38);
  font-size: 22px;
}
.Events h1 {
  font-size: 40px;
}

.Footer {
  background-color: white;
  color: black;
  height: 80px;
  display: flex;
  justify-content: center;
}
.Footer a {
  text-decoration: none;
  color: black;
  margin-top: 30px;
}

.Jeux {
  height: 300px;
  background: linear-gradient(0deg, #202124 50%, #0064C7 50%);
  padding: 30px;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}
.Jeux_1 img, .Jeux_2 img, .Jeux_3 img {
  margin: 30px;
  height: 90%;
  border-radius: 15px;
  transform: rotate(-5deg);
}
.Jeux_1, .Jeux_2, .Jeux_3 {
  display: flex;
  height: 100%;
  transition-duration: 1s;
}
@media screen and (max-width: 1300px) {
  .Jeux_1 img, .Jeux_2 img, .Jeux_3 img {
    margin: 30px;
    height: 70%;
    border-radius: 15px;
    transform: rotate(-5deg);
  }
  .Jeux_1, .Jeux_2, .Jeux_3 {
    display: flex;
    height: 50%;
    transition-duration: 1s;
  }
}

.Ludotheque {
  padding-top: 80px;
  position: relative;
  overflow: hidden;
  background-color: #202124;
  height: 700px;
  padding-left: 20%;
  padding-right: 20%;
  color: white;
  line-height: 35px;
}
.Ludotheque h1 {
  font-size: 50px;
  font-weight: bolder;
  margin-bottom: 40px;
}
.Ludotheque a {
  color: white;
  text-decoration: none;
  display: block;
  text-align: center;
  background-color: #0064C7;
  margin: 50px auto; /* Set margin-top and margin-bottom to 30px, and use auto for margin-left and margin-right */
  border-radius: 16px;
  height: 40px;
  line-height: 40px; /* Add line-height to vertically center the text */
  width: 200px;
}
.Ludotheque p {
  font-size: 25px;
}

.custom-shape-divider-bottom-1707320132 {
  position: absolute;
  bottom: -0.6px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1707320132 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-bottom-1707320132 .shape-fill {
  fill: #FFFFFF;
}

.MainContent {
  background-color: #f7fafb;
  padding: 5px;
}
.MainContent_title {
  color: #005d80;
  text-align: center;
  margin: 20px;
  font-size: 30px;
  font-weight: bold;
}

.Map {
  width: 60%;
  position: relative;
  display: block;
  margin: auto;
}
.Map__image path {
  fill: #dfe7e7;
  stroke: white;
  stroke-width: 0.5px;
  transition: fill 0.3s;
}
.Map__image path:hover {
  fill: #a7d0d0;
  stroke: white;
  stroke-width: 0.5px;
  transition: fill 0.3s;
}
.Map__list a {
  text-decoration: none;
}

.Marker {
  width: 5%;
}
.Marker_title {
  margin: 20px;
  font-size: 30px;
  text-align: center;
}
.Marker img {
  width: 100%;
}
.slider-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-input {
  margin: 10px;
}

.slider {
  -webkit-appearance: none;
  width: 70%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  margin: 30px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

.Navbar {
  margin: 0;
  text-align: center;
  background: rgb(90, 7, 2);
  height: 150px;
  position: relative;
  color: white;
}
.Navbar_gauche {
  float: left;
  position: absolute;
  padding-top: 40px;
  left: 15%;
  z-index: 3;
}
.Navbar_gauche img {
  width: 135px;
}
.Navbar_droite {
  float: right;
  margin: 60px 15% 0 0;
}
.Navbar_droite a {
  font-size: 35px;
  font-weight: bolder;
  margin: 30px;
  text-decoration: none;
  color: white;
}

/*Styling Hamburger Icon*/
.hamburger div {
  width: 30px;
  height: 3px;
  background: #f2f5f7;
  margin: 5px;
  transition: all 0.3s ease;
}

.hamburger {
  display: none;
}

.nav-links {
  display: none;
}

@media screen and (max-width: 1200px) {
  /* Hide the right part of the navbar on smaller screens */
  .Navbar_droite {
    display: none;
  }
  .Navbar_droite_open {
    display: flex;
  }
  .hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
    transition: all 0.7s ease;
  }
}
/*Animating Hamburger Icon on Click*/
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  transition: all 0.7s ease;
  width: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.News {
  background-color: rgb(255, 181, 38);
  position: absolute;
}
.News_content {
  top: 25%;
  margin-top: -10px;
  left: 14.5%;
  height: 50rem;
  width: 80%;
}
.News_card {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding-right: 11%;
}
.News_fixed {
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.News_new {
  border: black solid 2px;
  display: flex;
  background-color: white;
  height: auto;
  width: 100%;
  margin: 3% 1.5%;
  border-radius: 50px 0;
  justify-content: center;
  flex-direction: column;
}
.News_new_image {
  height: 80%;
  display: flex;
}
.News_new_image img {
  margin: 5px;
  justify-content: center;
  width: 95%;
  border-radius: 50px 0;
}
.News_new_title {
  overflow: hidden;
  max-width: 170px;
  white-space: normal;
  display: flex;
  align-items: center;
  margin: auto;
  max-height: 20%;
  text-align: center;
}

#container-new {
  height: 400px;
  width: 100%;
  position: relative;
}

* {
  box-sizing: border-box;
}

.News-temp {
  min-height: 12vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 181, 38);
  padding-bottom: 4%;
}

.slide-content {
  padding: 0 5%;
}

.card {
  border: black solid 2px;
  background-color: white;
  border-radius: 50px 0;
}

.image-content,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 40px;
}

.image-content {
  width: 100%;
}

.card-image {
  height: 180px;
  width: 100%;
}

.card-image .card-img {
  width: 100%;
  border-radius: 50px 0;
}

.slider-container-new {
  max-width: 1120px;
  width: 100%;
  background-color: rgb(255, 181, 38);
  padding: 0 40px;
}

.name {
  font-size: 18px;
  font-weight: 500;
  color: black;
}

.swiper-button-next, .swiper-button-prev {
  margin: 0;
}

.News-temp-new {
  display: flex;
  background-color: white;
  width: 100%;
  margin: 0;
  border-radius: 50px 0;
  justify-content: center;
  flex-direction: column;
}

.News-temp-new-image {
  height: 100%;
  display: flex;
}
.News-temp-new-image img {
  margin: 5px;
  justify-content: center;
  width: 95%;
  border-radius: 50px 0;
}

/*# sourceMappingURL=app.css.map */
