{% block title %}Marker Menu{% endblock %}
{% extends "base.html.twig" %}

{% block body %}
    Menu Admin

    <a type="button" href="{{ path('marker_create') }}">Créer un nouveau marqueur</a>
    <a type="button" href="{{ path('marker_delete') }}">Supprimer un marqueur</a>
    <a type="button" href="{{ path('marker_select') }}">Modifier un marqueur</a>
    <a href="{{ path('admin_menu') }}">Retour au menu</a>

{% endblock body %}