{% block title %}Event Create{% endblock %}
{% extends "base.html.twig" %}

{% block body %}
    <p class="Event_title">Créer un Event</p>



    {{ form_start(form) }}

    {{ form_end(form) }}

{% endblock body %}