{% extends 'base.html.twig' %}

{% block title %}Events{% endblock %}

{% block body %}
    <h1>Events</h1>

    {% for event in events %}
        {{ event.id }}
        {{ event.idRegion }}
        {{ event.title }}
        {{ event.description | raw }}
    {% endfor %}


{% endblock %}
